apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- cert-manager
- traefik
- mqtt
- ../base/rtsptoweb
- home-assistant
- node-red
- media
- metrics
- zwave
- brother-printer
- transmission
patches:
- path: loki-stack-values.yaml
