apiVersion: apps/v1
kind: Deployment
metadata:
  name: brother-printer
  namespace: brother-printer
  labels:
    app: brother-printer
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: brother-printer
  template:
    metadata:
      labels:
        name: brother-printer
        app: brother-printer
    spec:
      containers:
        - name: brother-printer
          image: samsonnguyen/docker-brother-mfc-l27x0dw
          imagePullPolicy: Always
          env:
            - name: MODEL
              value: Brother-MFC-L2700DW
            - name: PRINTER_IP
              value: "192.168.1.62"
            - name: PRINTER_NAME
              value: Brother-MFC-L2700DW
          volumeMounts:
            - mountPath: /scans
              name: scans
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "brscan-skey -t"]
        - name: inotify
          image: samsonnguyen/inotify-scp:latest
          imagePullPolicy: Always
          env:
            - name: INOTIFY_TARGET
              value: /scans
            - name: DESTINATION
              value: brother@paperless-sftp:consume/
            - name: IDENTITY_FILE
              value: /root/.ssh/id_rsa
            - name: INOTIFY_CFG_EVENTS
              value: "create"
          volumeMounts:
            - mountPath: /scans
              name: scans
            - mountPath: /root/.ssh
              name: brother-ssh
      volumes:
        - name: scans
          nfs:
            path: /mnt/storage_1/k8s/manual/paperless/paperless-consume
            server: freenas-int.samsonnguyen.ca
        - name: brother-ssh
          secret:
            secretName: brother-ssh
            items:
              - key: id_rsa
                path: id_rsa
                mode: 0600
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
